<h1>Please ask the coach for guidance</h1>
<form action='/answer' method='get'>
  <input type='text' name='question' placeholder='What should I do for lunch?'>
  <input type='submit' value="Ask the coach!">
</form>